.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.line {
  display: flex;
  background-color: white;
  height: 100px;
  width: 300px;
}

.inside-line {
  background-color: green;
  height: 100px;
  width: calc(100% / 3);
}

.middle-vertical {
  border: yellow solid;
  border-width: 0 4px 0 4px;
}

.middle-horizontal {
  border: yellow solid;
  border-width: 4px 0 4px 0;
}
